[submodule "git-project-belajar-submodul"]
	path = git-project-belajar-submodul
	url = https://github.com/fqihhh/git-project-belajar-submodul.git
[submodule "anak1-modul"]
	path = anak1-modul
	url = https://github.com/fqihhh/anak1-modul.git
[submodule "anak2-modul"]
	path = anak2-modul
	url = git@github.com:fqihhh/anak2-modul.git
